 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ">
                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="img/me_casual.jpg" width="58%" align="middle"><h3>Brief Overview </h3> I am Senthil Palanisamy. I was born and brought up in India. I moved to US in August 2019 to begin my Masters in Robotics at Northwestern. My undergraduation was in electronics and then I worked for about 3 years in computer vision. Right now, I get excited about solving robotics problems involving computer vision. 
                </div>
                <div class="col-lg-4">
	                <h3>Education </h3> <ul><li>Bachelor of Engineering in Electronics & Communication - Anna University (Graduated May 2016.)</li><li>Master of Science in Robotics - Northwestern University (Expected Graduation Dec 2020)</li></ul>
                    <p><h3>Experience: 3 Years </h3> <ul><li> TartanSense | Robotics Engineer - (March - July 2019)</li><li> Soliton Technologies | Computer Vision R&D Engineer(May 2016- Feb 2019)</li></ul> For more information about this experience please see my resume (button below).<br></p>
                </div>
                <div class="col-lg-4">
                  <p><h3>Courses taken </h3> The courses I have taken include<span>&#58;</span> Embedded Systems, Robotic Manipulation, Machine Dynamics, ML and AI for robotics<br><br> The online courses I have completed include Stanford CS231n- Convolutional Neural Networks for Visual Recognition, Stanford CS229- Machine Learning, MIT 18.06- Linear Algebra, MIT 6.041 - Probabilistic Systems Aand Applied Probability, MIT 6.006 - Introduction to Algorithms<br><br><h3>Publications based on undergraduate work</h3><ul><li><a href="https://ieeexplore.ieee.org/document/8711348" target="_blank" style="color:rgb(0,0,255);" >Automated Robotic Moisture Monitoring in Agricultural Fields(My final year thesis)</a></li><li><a href="https://ieeexplore.ieee.org/document/8711028" target="_blank" style="color:rgb(0,0,255);" >Smart Mobile Phone Usage Restriction by Extending Phone Circuitry — An Alternative to Jamming(Third year thesis)</a></li></ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="files/resume.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="Resume-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
